.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  display: grid;
  grid-template-rows: auto 1fr auto; /* header, main, footer */
  grid-template-columns: 1fr; /* one column */
  min-height: 100vh; /* minimum height to fill the viewport */
}

.main-div {
  width: 75%;
}
.main-div > * {
  padding: 0 4rem 0 4rem;
}
.main-div > h2 {
  border-bottom: 1px solid white;
}
@media screen and (max-width: 1200px) {
  .main-div > * {
    padding: 0 2rem 0 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .main-div > * {
    padding: 0 0 0 0;
  }
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  max-width: 400px;
}

.selectable-element {
  display: inline-block;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.selectable-element:hover {
  background-color: #f7f7f7;
  color: #111;
}

.selectable-element.selected {
  background-color: #4caf50;
  color: #fff;
}
